body{
    margin:20px;
}
input[type="text"] {
    margin-left:10px;
    width:50px;
}
.container{
    margin:auto;
    text-align: center;
    width:500px;
    border:solid 1px steelblue;
    padding:5px;
    border-radius:5px;
}
.submitButton{
    margin-top:10px;
    padding:10px;
    border-radius:5px;
    font-size:20px;
    background-color: aquamarine;

}